---
import PageLayout from '@layouts/PageLayout.astro';
import { SITE } from '@consts';
import { Image } from 'astro:assets';

import { Divider } from '@nextui-org/divider';

// @ts-ignore
import background_image from '../assets/images/pc_bg.JPG';
// @ts-ignore
import background_image_mobile from '../assets/images/mobile_bg.JPG';

// @ts-ignore
import smie from '../assets/images/smed.png';

import bilde_venstre from '../assets/images/index_left.jpeg';
import bilde_midten from '../assets/images/index_center.jpeg';
import bilde_hoyre from '../assets/images/index_right.jpg';
---

<PageLayout title='Hjem' description={SITE.DESCRIPTION}>
    <!-- BACKGROUND IMAGE -->
    <Image
        class='animate fixed filter brightness-[50%] w-full h-full object-cover hidden md:block'
        src={background_image}
        alt={'Background image'}
        width={4928}
        height={3264}
    />
    <Image
        class='animate fixed filter brightness-[50%] w-full h-full object-cover md:hidden'
        src={background_image_mobile}
        alt={'Background image'}
        width={3264}
        height={4928}
    />

    <!-- HERO -->
    <section class='relative h-screen w-full'>
        <div class='animate absolute h-full w-full flex items-center justify-center'>
            <div class='relative w-full h-full flex justify-center'>
                <h1 class='md:text-6xl sm:text-3xl text-2xl flex md:items-end my-32'>BOGSTAD GÅRD SMIE</h1>
            </div>
        </div>
    </section>

    <!-- Main section -->
    <div class='relative bg-white dark:bg-black md:pt-24 pt-6'>
        <div class='mx-auto flex flex-col md:gap-24 gap-8 items-center max-w-screen-lg p-5'>
            <!-- About Section -->
            <section class='flex md:flex-row flex-col-reverse gap-4 md:gap-10'>
                <div>
                    <h2 class='md:text-2xl text-xl font-semibold md:mb-8 mb-3'>Velkommen til Bogstad Gård smie</h2>
                    <p>
                        Håkon Busk er smed på Bogstad Gård og har en Bachelor of Arts i kunstsmiing fra Hereford, School
                        of Arts and Crafts i England. I arbeidet sitt ønsker han å fremme kvalitet i minimalistisk
                        moderne design som håndlages på Bogstad Gård. Dette tar form som skulpturer, interiørdesign og
                        eksteriørdesign som spesialtilpasses i smidd stål. Håkon tar bestillinger der han samarbeider
                        tett med kunder for å utvikle og skape skreddersydde ideer og produkter til kundens behov.
                    </p>
                </div>
                <Image class='w-72 rounded-md' src={smie} alt={'Smie'} width={1920} height={1080} />
            </section>

            <Divider className='opacity-30' />

            <!-- Images section -->
            <section>
                <div class='grid grid-cols-1 md:grid-cols-3 md:gap-8 gap-4'>
                    <Image
                        class='rounded-md object-cover md:h-[25rem] h-[18rem]'
                        src={bilde_venstre}
                        alt={'Image 1'}
                        width={1080}
                        height={1618}
                    />
                    <Image
                        class='rounded-md object-cover md:h-[25rem] h-[18rem]'
                        src={bilde_midten}
                        alt={'Image 2'}
                        width={957}
                        height={1388}
                    />
                    <Image
                        class='rounded-md object-cover md:h-[25rem] h-[18rem]'
                        src={bilde_hoyre}
                        alt={'Image 3'}
                        width={2777}
                        height={4500}
                    />
                </div>
                <div
                    class='max-w-screen-md mx-auto flex md:flex-row flex-col items-center justify-center md:gap-8 md:mt-6 pt-2'>
                    <p class='mt-4'>Ta en kikk i galleriet for å se mer.</p>
                    <a href='/galleri'>
                        <button
                            class='md:mt-4 mt-2 bg-black text-white rounded-md px-4 py-1.5 hover:bg-neutral-950 border border-neutral-600 text-nowrap'>
                            Til galleri</button
                        >
                    </a>
                </div>
            </section>

            <!-- Contact section -->
            <section class='flex justify-center'>
                <div>
                    <p class='font-bold text-xl'>Kontakt:</p>
                    <p>Ta gjerne kontakt for oppdrag og spesialbestillinger</p>
                    <div class='grid grid-cols-4 gap-2 mt-4 auto-cols-min'>
                        <!-- Mail -->
                        <div class='col-span-1 flex items-center gap-1'>
                            <span class='whitespace-nowrap truncate'>E-mail:</span>
                        </div>
                        <div class='col-span-3 truncate'>
                            <a
                                href={'mailto:hawk.metaldesigns@gmail.com'}
                                target='_blank'
                                class='w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend'>
                                <span
                                    class='text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend'>
                                    hawk.metaldesigns@gmail.com
                                </span>
                            </a>
                        </div>
                        <!-- Phone -->
                        <div class='col-span-1 flex items-center gap-1'>
                            <span class='whitespace nowrap truncate'>Telefon:</span>
                        </div>
                        <div class='col-span-3 truncate'>
                            <a
                                href={'tel:48241206'}
                                target='_blank'
                                class='w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend'>
                                <span
                                    class='text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend'>
                                    48241206
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</PageLayout>
