---
import PageLayout from '@layouts/PageLayout.astro';
import { SITE, SOCIALS } from '@consts';
import { Image } from 'astro:assets';
// @ts-ignore
import backgroundPc from '../assets/images/pc_bg.JPG';

const stack = [
    {
        text: 'Astro',
        icon: 'astro',
        href: 'https://astro.build',
    },
    {
        text: 'Javascript',
        icon: 'javascript',
        href: 'https://www.javascript.com',
    },
    {
        text: 'Typescript',
        icon: 'typescript',
        href: 'https://www.typescriptlang.org',
    },
    {
        text: 'Tailwind',
        icon: 'tailwind',
        href: 'https://tailwindcss.com',
    },
];
---

<PageLayout title='Hjem' description={SITE.DESCRIPTION}>
    <!-- BACKGROUND IMAGE -->
    <Image
        class='animate fixed filter brightness-[50%] w-full h-full object-cover'
        src={backgroundPc}
        alt={'Background image'}
        width={4928}
        height={3264}
    />

    <!-- HERO -->
    <section class='relative h-screen w-full'>
        <div class='animate absolute h-full w-full flex items-center justify-center'>
            <div class='relative w-full h-full flex justify-center'>
                <h1 class='md:text-6xl sm:text-3xl text-2xl flex md:items-end my-32'>BOGSTAD GÅRD SMIE</h1>
            </div>
        </div>
    </section>

    <!-- Main section -->
    <div class='relative bg-white dark:bg-black'>
        <div class='mx-auto max-w-screen-sm p-5 space-y-24 pb-16'>
            <!-- About Section -->
            <section class='animate'>
                <article>
                    <p>Images goes here</p>
                </article>
            </section>

            <!-- Contact Section -->
            <section class='animate'>
                <div>
                    <p class='font-bold text-xl text-black dark:text-white'>Kontakt meg gjerne!</p>
                    <p>Kontakt meg gjerne på mail og følg meg på Instagram for mer innhold!</p>
                    <div class='grid grid-cols-4 gap-y-2 mt-4 auto-cols-min'>
                        {
                            SOCIALS.map((social) => (
                                <>
                                    <div class='col-span-1 flex items-center gap-1'>
                                        <span class='whitespace-nowrap truncate'>{social.NAME}</span>
                                    </div>
                                    <div class='col-span-3 truncate'>
                                        <a
                                            href={social.HREF}
                                            target='_blank'
                                            class='w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend'>
                                            <span class='text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend'>
                                                {social.TEXT}
                                            </span>
                                        </a>
                                    </div>
                                </>
                            ))
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</PageLayout>
