---
import PageLayout from '@layouts/PageLayout.astro';
import { SITE, SOCIALS } from '@consts';
import { Image } from 'astro:assets';
// @ts-ignore
import backgroundPc from '../assets/images/pc_bg.JPG';

const stack = [
    {
        text: 'Astro',
        icon: 'astro',
        href: 'https://astro.build',
    },
    {
        text: 'Javascript',
        icon: 'javascript',
        href: 'https://www.javascript.com',
    },
    {
        text: 'Typescript',
        icon: 'typescript',
        href: 'https://www.typescriptlang.org',
    },
    {
        text: 'Tailwind',
        icon: 'tailwind',
        href: 'https://tailwindcss.com',
    },
];
---

<PageLayout title='Hjem' description={SITE.DESCRIPTION}>
    <!-- BACKGROUND IMAGE -->
    <Image
        class='animate fixed filter brightness-[50%] w-full h-full object-cover'
        src={backgroundPc}
        alt={'Background image'}
        width={4928}
        height={3264}
    />

    <!-- HERO -->
    <section class='relative h-screen w-full'>
        <div class='animate absolute h-full w-full flex items-center justify-center'>
            <div class='relative w-full h-full flex justify-center'>
                <h1 class='text-6xl flex items-end my-24'>BOGSTAD GÅRD SMIE</h1>
            </div>
        </div>
    </section>

    <div class='relative bg-white dark:bg-black'>
        <div class='mx-auto max-w-screen-sm p-5 space-y-24 pb-16'>
            <!-- About Section -->
            <section class='animate'>
                <article>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur magni eos illo eveniet
                        asperiores, officiis quo corrupti atque voluptates, ab quis repellendus, voluptatum excepturi
                        optio suscipit voluptas illum fugiat porro. Veritatis, voluptas et aliquid illum, nihil eaque
                        similique, consectetur sequi magnam quod aspernatur debitis impedit facilis perspiciatis beatae
                        assumenda quasi deserunt laborum incidunt odio pariatur autem ipsa exercitationem sit.
                        Repudiandae! Quia corporis temporibus expedita, vero laboriosam adipisci nulla nam blanditiis
                        magnam mollitia ratione sed porro. Iure eveniet accusamus voluptas facilis optio iusto, quo, ex
                        nulla voluptatem sed illum recusandae aspernatur! Temporibus dicta sunt, ratione laudantium
                        ullam, eveniet maiores nihil est repellendus esse repellat beatae non voluptatibus atque quo
                        debitis ducimus cupiditate maxime aperiam mollitia? Distinctio tempore sunt et ab officiis. Aut
                        sequi quo reprehenderit eos aperiam architecto excepturi natus deleniti, adipisci eligendi quasi
                        numquam molestiae odio quas libero labore quos, impedit officiis quibusdam nulla quisquam. Rem
                        fuga architecto est distinctio? Quae consequuntur perspiciatis non, in doloribus corporis optio
                        quas dicta fuga possimus veniam. Aspernatur repellendus consectetur reiciendis quod vitae rerum
                        illum laborum ducimus numquam, nulla doloribus nam, dolores eius eos? Autem, neque. Voluptatibus
                        magni eaque omnis ipsam impedit ea odit aut? Aliquam facilis architecto dignissimos sequi fuga
                        sint ea, repellendus quisquam! Laudantium molestiae aliquid voluptatibus doloribus saepe illum
                        sint tempore. Alias iusto ex aliquid distinctio officiis nulla dolor voluptates corporis
                        corrupti placeat illum nostrum ad sapiente itaque quisquam molestiae enim cum, harum eum. Nam
                        ducimus laboriosam delectus harum cum deleniti! Accusamus incidunt vero quia voluptatem. Alias
                        ipsa hic praesentium quasi neque laudantium eaque, tempore, itaque perspiciatis asperiores
                        mollitia possimus magnam ea consequatur iusto velit similique voluptates recusandae expedita
                        placeat necessitatibus! Accusamus assumenda tenetur molestiae ex quisquam ipsa aliquam
                        similique. Repellendus dolorum porro non soluta aperiam eaque saepe, facilis sapiente quia.
                        Ipsa, adipisci! Voluptatum, ipsam ullam corrupti consequatur voluptates nesciunt quis. Eum
                        quisquam odio laboriosam dolorum vero sequi voluptas sunt tenetur cumque unde harum et facilis
                        perferendis esse dolores, quae laborum quos. Facilis, nulla obcaecati? Explicabo unde eius
                        temporibus ad in! Sit repellendus dolorum laudantium quibusdam, sint iusto at error nobis
                        voluptate. Nihil delectus error illum, rem quaerat eum assumenda reiciendis doloremque, aliquid
                        cum voluptatibus quidem aut iure, temporibus quisquam eaque.
                    </p>
                </article>
            </section>

            <!-- Contact Section -->
            <section class='animate'>
                <div>
                    <p class='font-bold text-xl text-black dark:text-white'>Kontakt meg gjerne!</p>
                    <p>Kontakt meg gjerne på mail og følg meg på Instagram for mer innhold!</p>
                    <div class='grid grid-cols-4 gap-y-2 mt-4 auto-cols-min'>
                        {
                            SOCIALS.map((social) => (
                                <>
                                    <div class='col-span-1 flex items-center gap-1'>
                                        <span class='whitespace-nowrap truncate'>{social.NAME}</span>
                                    </div>
                                    <div class='col-span-3 truncate'>
                                        <a
                                            href={social.HREF}
                                            target='_blank'
                                            class='w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend'>
                                            <span class='text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend'>
                                                {social.TEXT}
                                            </span>
                                        </a>
                                    </div>
                                </>
                            ))
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</PageLayout>
